*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header {
    border: 1px solid white;
}
a{
    text-decoration: none;
    color: black;
}

/* header */
a:hover{
    outline: 0;
    color: #06c;
}
.wrapper{
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
}
.bg-wrap {
    position: relative;
    z-index: 0
}
.bg-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    min-width: 1158px;
    display: block;
    z-index: -1
}
.header{
    padding-top: 16px;
    padding-bottom: 13px;
}
.flex-jcc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-jcb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top>h1{
    font-size: 2em;
    font-weight: bold;
}
.header-area>.qt{
    height: 37px;
    padding: 4px 12px 4px 5px;
    border: 1px solid #ccc;
    border-radius: 18px;
    margin: 0 12px 0 0;
    font-weight: 400;
    line-height: 1;
}
.header-area>.qt>img{
    margin: 0 8px 0 0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.header-area>.qt>p:hover{
    color: lightblue;
}
.weather{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
}
.weather-header>.weather-wrap>.location{
    color: #333;
    font-size: 14px;
    display: block;
    text-align: right;
}
.weather-header>.weather-wrap>.today{
    text-align: right;
    color: #666;
    display: block;
    font-size: 12px;
}

.weather-header>.do-C{
    color: #333;
    font-weight: 400;
    margin-left: 15px;
    font-size: 20px;
}
.weather-header::after{
    content: "";
    width: 0;
    height: 24px;
    position: relative;
    border-left: 1px solid #ccc;
    display: block;
    margin: 0 16px;
}

.weather-login>h3{
    margin-right: 30px;
    color: gray;
    margin-left: 20px;
}
.weather-login>a>img{
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

/* Phần nav */
.menu {
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 9;
    font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Arial","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif
}

.menu::before {
    background: #fff none
}
.menu-wrap {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px
}

.menu-wrap::before {
    background: #fff none;
    top: -1px
}

.menu-wrap>li {
    position: relative
}

.menu-wrap>li.has-child::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,30px);
    transition: all .15s;
    visibility: hidden;
    opacity: 0
}

.menu-wrap>li.has-child:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,0)
}

.menu-wrap>li.has-child:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.menu-wrap>li>a {
    font-weight: 500;
    color: #333;
    height: 38px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.menu-wrap>li:hover::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-top: 3px solid #1a7900
}

.menu-wrap>li.home>a>img {
    width: 28px;
    height: 28px;
}

.menu-wrap>li.home svg path:nth-child(1) {
    fill: #333
}


.menu-wrap>li.menu-logo img {
    width: auto;
    max-height: 26px;
    position: relative;
    top: -6px
}
.submenu {
    margin: 0;
    padding: 2px 0 4px;
    list-style: none;
    position: absolute;
    left: -5px;
    top: 39px;
    min-width: 140px;
    background: #eee none;
    border-radius: 0 0 5px 5px;
    transition: all .15s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px)
}
.submenu>li {
    border-bottom: 1px solid #d5d5d5
}

.submenu>li:last-of-type {
    border-bottom: 0
}

.submenu>li>a {
    padding: 8px 12px;
    line-height: 16px;
    font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Arial","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #666;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all .15s
}
.submenu>li>a:hover {
    color: #2361ff
}
.submenu>li>a::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 1px solid #2361ff;
    position: relative;
    display: block;
    transition: all .15s
}
.submenu>li>a:hover::before {
    width: 10px;
    margin: 0 6px 0 0
}
.list{
    display: flex;
    width: 100%;
    padding: 50px;
}
.article-newest {
    display: flex;
    width: 70%;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 22px 0 42px;
}
.article-newest >.article-item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.article-newest .article-content-right>.article-item > a{
    width: 30%;
}
.article-newest >.article-item> .article-content{
    width: 100%;
    display: flex;
}
.article-newest >.article-item> .article-content .article-content-right{
    width: 70%;
    margin-right: 24px;
}
.list .article-item:after{
    content: "";
    left: -47px;
    top: 0;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #0f6c32;
    position: absolute;
}
.article-item > .article-time{
margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #888;
}
 .article-item .article-content .article-excerpt {
    margin-bottom: 16px;
}
.article-item .article-content .article-title {
    margin: 0 0 16px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;  
}
.side-bar{
    width: 30%;
    margin-left: 10px;
}

.article-lot .article-head {
    margin-top: 48px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #292d32;
}

.article.lot .article-item-big {
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 208px auto;
    grid-gap: 16px;
    padding-bottom: 35px;
}
.article.lot .article-item.big .article-thumb {
    order: 0;
}
.article .article-item .article-thumb {
    display: flex;
    order: 3;
}
.article.lot .article-item:not(:first-child) {
    margin-top: 16px;
}
.article.lot .article-item {
    display: grid;
    grid-template-columns: calc(100% - 120px) 112px;
    grid-column-gap: 8px;
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #e3e6e8;
}
.article-lot-item .article-thumb {
    display: flex;
    order: 3;
}
div{
    display:block;
}
.article.lot .article-item .article-content .article-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
}
.article-item .article-content .article-title {
    margin: 0 0 16px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
}
.hot-news{
    width: 100%;
    padding-top: 20px;

}
.hot-items {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.hot-items .hot-item .tittle{
    font-size: 14px;
    line-height: 20px;
    width: 70%;
    margin-right: 14px;
    color: #222;
}
.hot-item{
    border-top: 1px solid grey;
    margin-top: 15px;
   
}
.hot-item a{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hot-item img{
    width: 30%;
     padding-right: 5px;
}
.quangcao2{
    width: 100%;
    height: 600px;
    position: sticky ;
    margin-left: 0;
    margin-top: 30px;
    top: 0;
    left: 0;
}


/* footer */

.footer{
    border-top: 5px solid #0f6c32;
    padding-top: 34px;
    padding-bottom: 30px;
}
.footer>.logo>a>img{
    width: 102px;
    height: 31px;
}
.footer>.content{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
    color: #000;
    line-height: 24px;
}
.footer>.content>.cot-1>.list{
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}
.footer>.content>.cot-2>.list{
    margin: 20px 0 0;
    list-style: none;
}
.footer>.content>.cot-3{
    margin: 20px 0 0;
}
.footer>.content>.cot-3>.app{
    margin-top: 10px;
}
.footer>.content>.cot-3>.theo-doi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer>.content>.cot-3>.theo-doi>a>img{
    padding-top: 5px;
}
